<div class="top-navbar glass-navbar py-2 px-3 mb-3 d-flex flex-wrap gap-2 justify-content-center justify-content-md-start blur-shadow">
    <app-settings-button></app-settings-button>
    <app-language-selector></app-language-selector>
    <app-restart-game-button (restartEvent)="resetGameAction()"></app-restart-game-button>
    <div class="ms-md-auto">
        <app-coffee-button></app-coffee-button>
    </div>
</div>

<div class="game-container container-fluid">
    <div class="row justify-content-center gap-4">
        <div class="main-game col-12 col-lg-5 col-xl-5">
            <app-roulette-container 
                (resetGameEvent)="resetGame()">
            </app-roulette-container>
        </div>

        <div class="trainer-info col-12 col-lg-5 col-xl-4 d-flex flex-column gap-3">
            <app-trainer-team
                (megaStoneInterrupt)="megaStoneInterrupt($event)">
            </app-trainer-team>

            <app-items
                (rareCandyInterrupt)="rareCandyInterrupt($event)"
                (megaStoneInterrupt)="megaStoneInterrupt($event)">
            </app-items>
        </div>
    </div>
</div>
