.item-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    padding: 5px;
}
.item-container {
    padding: 5px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-container img {
    cursor: pointer;
    width: 80%;
    height: 80%;
    object-fit: contain;
    animation: item-show 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.4));
}
@keyframes item-show {
    from { transform: scale(2); }
    to { transform: scale(1); }
}
