<div class="item-box rounded-4 p-3 glass-panel border-0">
    <h3 class="title fw-bold mb-2 text-center game-heading fs-5">{{ 'items.title' | translate }}</h3>
    <div class="item-section">
        <div class="item-grid">
            @for (index of [0,1,2,3,4,5,6,7,8,9,10,11]; track index) {
            <div class="item-container cursor-pointer slot-box">
                <img [src]="getItemSprite(index)" class="img-fluid" placement="bottom"
                    ngbTooltip="{{getItemText(index)}}" (click)="useItem(trainerItems[index])">
            </div>
            }
        </div>
    </div>
</div>
