<div class="fireworks-container" #fireworksContainer></div>
<div class="d-flex flex-column align-items-center h-100 justify-content-center">
    <h4 class="congrats-text mt-4 mb-3 display-5 fw-bold">🎉 {{ 'game.end.congrats' | translate }} 🎉</h4>
    <div class="card mx-3 mb-4 winner-card rounded-4 border-0 shadow-lg"
         [ngClass]="(darkMode) ?  'black-card' : 'white-card'">
        <div class="card-body p-4" >
            <div #captureArea class="capture-area-bg p-3 rounded-4 mb-3">
                <h4 class="card-title text-center mb-4 pb-2 border-bottom fw-bold">{{ 'game.end.champion' | translate }} {{generation.region}}! </h4>
                <div class="d-flex row align-items-center">
                    <div class="d-flex flex-column col-12 col-md-8 mb-3 mb-md-0">
                        <div class="row g-2 justify-content-center mb-2">
                            @for (index of [0,1,2]; track index) {
                            <div class="col-4">
                                <div class="pokemon-container rounded-circle ratio-1x1 d-flex align-items-center justify-content-center"
                                    [ngClass]="(darkMode) ? 'black-border shadow-sm' : 'border white-shadow'"
                                    style="--color: {{getPokemonColor(trainerTeam[index])}}">
                                    <img [src]="getPokemonSprite(trainerTeam[index])" class="img-fluid rounded-circle p-1">
                                </div>
                            </div>
                            }
                        </div>
                        <div class="row g-2 justify-content-center">
                            @for (index of [3,4,5]; track index) {
                            <div class="col-4">
                                <div class="pokemon-container rounded-circle ratio-1x1 d-flex align-items-center justify-content-center"
                                    [ngClass]="(darkMode) ? 'black-border shadow-sm' : 'border white-shadow'"
                                    style="--color: {{getPokemonColor(trainerTeam[index])}}">
                                    <img [src]="getPokemonSprite(trainerTeam[index])" class="img-fluid rounded-circle p-1">
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <div class="trainer-container rounded-circle border-3 border p-2"
                            [ngClass]="(darkMode) ? 'border-dark shadow-sm bg-white' : 'border-light shadow bg-dark'">
                            <img [src]="trainer.sprite" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2 mt-3">
                <button class="btn btn-lg btn-success rounded-pill px-4 shadow-sm"
                        (click)="shareResults()">
                        <ng-icon name="bootstrapShare" class="me-2"></ng-icon> {{ 'game.end.share' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

