<div class="trainer-team-box rounded-4 p-3 glass-panel d-flex flex-column gap-2 border-0">
    <div class="w-100">
          <div class="row m-0 gap-2 align-items-center justify-content-between">
               <div class="trainer-sprite rounded-circle p-1 slot-box" style="width: 60px; height: 60px;">
                    <img [src]="trainer.sprite" alt="Trainer Sprite" class="img-fluid rounded-circle h-100 object-fit-cover">
               </div>
               <app-badges
                    class="col p-0"
                    [trainerBadges]="trainerBadges">
               </app-badges>
          </div>
    </div>
    <div class="w-100">
          <div class="row m-0 p-0 gap-2">
               <div class="col-12 p-0 pokemon-grid">
                    @for (i of [0,1,2,3,4,5]; track i) {
                         <div class="pokemon-container rounded-3 slot-box w-100">
                              @if (trainerTeam[i]?.sprite) {
                                   <img [src]="getSprite(trainerTeam[i])"
                                        class="img-fluid pokemon-image py-1"
                                        placement="bottom"
                                        ngbTooltip="{{ trainerTeam[i].text | translate }}">

                                   @if (getMegaStoneSprite(trainerTeam[i]); as megaStoneSprite) {
                                        <button
                                             type="button"
                                             class="mega-stone-overlay-button"
                                             (click)="triggerMegaStoneInterrupt(trainerTeam[i])"
                                             placement="bottom"
                                             ngbTooltip="{{ getMegaStoneTextKey(trainerTeam[i]) | translate }}"
                                             [attr.aria-label]="getMegaStoneTextKey(trainerTeam[i]) | translate">
                                             <img
                                                  [src]="megaStoneSprite"
                                                  class="mega-stone-overlay"
                                                  [style.background]="getMegaStoneFillStyle(trainerTeam[i])"
                                                  alt="Mega Stone">
                                        </button>
                                   }
                              }
                         </div>
                    }
               </div>
               <div class="col-12 p-0 d-flex flex-row gap-2 mt-1">
                    <app-storage-pc class="flex-grow-1"></app-storage-pc>
                    <app-pokedex class="flex-grow-1"></app-pokedex>
               </div>
          </div>
    </div>
</div>
